[submodule "classifiers/svmjs"]
	path = classifiers/svmjs
	url = https://github.com/erelsgl/svmjs.git
[submodule "classifiers/brain"]
	path = classifiers/brain
	url = https://github.com/erelsgl/brain.git
[submodule "classifiers/apparatus"]
	path = classifiers/apparatus
	url = https://github.com/erelsgl/apparatus.git
