[submodule "classifier"]
	path = classifier
	url = https://github.com/erelsgl/classifier.git
[submodule "svmjs"]
	path = svmjs
	url = https://github.com/erelsgl/svmjs.git
[submodule "classifiers/brain"]
	path = classifiers/brain
	url = https://github.com/erelsgl/brain.git
[submodule "apparatus"]
	path = apparatus
	url = https://github.com/erelsgl/apparatus.git
